# Used by upgrade demo app
PORT=8080
MODE=PROD
MONGODB_URI=your_mongodb_uri
GOOGLE_CLIENT_ID=your_google_client_id
UPGRADE_HOST_URL=https://upgrade-demo.carnegielearning.com
UPGRADE_BASE_URL=https://upgrade-demo.carnegielearning.com/upgrade
UPGRADE_CONTEXT=add
UPGRADE_SERVICE_ACCOUNT_KEY_PATH=upgrade-service-account-key.json

# Used by external apps
SESSION_SECRET=your_session_secret
ANTHROPIC_API_KEY=your_anthropic_api_key
ANTHROPIC_MODEL=claude-opus-4-8
UPGRADE_API_URL=https://upgrade-demo.carnegielearning.com/api
SEMANTIC_SCHOLAR_API_KEY=your_semantic_scholar_api_key
