<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>UpGrade Demo - Log in</title>
    <meta charset=utf-8 />
    <meta name="description" content="UpGrade Demo App" />
    <meta name="keywords" content="UpGrade, Demo, App" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=0.75, maximum-scale=0.75" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;lang=en" />
    <link rel="stylesheet" href="/css/universal.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <script src="https://cdn.jsdelivr.net/npm/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="/js/fetch-wrapper.js"></script>
    <script src="/js/log-handler.js"></script>
    <script src="/js/data-resetter.js"></script>
    <script src="/js/modal.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header" class="shadowed">
            <div id="title">
                <img id="upgrade-logo" src="/asset/image/upgrade-logo.png" alt="UpGrade Logo">
                <h2 id="title-text">UpGrade Demo</h2>
            </div>
        </div>
        <div id="main">
            <div id="main-top">
                <div id="headline-wrapper">
                    <div id="headline-left">
                        <div id="headline-left-top">
                            <h1 class="headline-large">KNOW</h1>
                            <h1 class="headline-large">WHAT</h1>
                            <h1 class="headline-large">WORKS.</h1>
                        </div>
                        <div id="headline-left-middle">
                            <h3 class="headline-medium"><strong>UpGrade</strong> is the only open-source evidence-based testing platform that uncovers the most effective learning experiences.</h3>
                        </div>
                        <div id="headline-left-bottom">
                            <h3 class="headline-medium">This demo app is to help you learn what UpGrade can do for you.</h3>
                        </div>
                    </div>
                    <div id="headline-right">
                        <div id="headline-right-top">
                            <h4 class="headline-medium">Watch this video to learn more about <strong>UpGrade</strong> in 10 minutes!</h4>
                        </div>
                        <div id="headline-right-bottom">
                            <img id="upgrade-screenshot" class="shadowed" src="/asset/image/upgrade-screenshot.png" alt="UpGrade Screenshot">
                        </div>
                    </div>
                </div>
            </div>
            <div id="main-bottom">
                <div id="login-button"></div>
                <div id="link-wrapper">
                    <p id="link-text">If you want to learn more about UpGrade, please visit <a href="https://www.upgradeplatform.org/">www.upgradeplatform.org</a></p>
                </div>
            </div>
        </div>
        <div id="demo-video-overlay" style="pointer-events: none; opacity: 0;">
            <iframe id="demo-video" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <script>
        window.addEventListener("load", () => {
            const dataResetter = new DataResetter("<%= upgradeContext %>");

            // Modal
            const modal = new Modal();

            // Show/Hide the demo video overlay when the screenshot is clicked
            const upgradeScreenshot = document.getElementById("upgrade-screenshot");
            const demoVideoOverlay = document.getElementById("demo-video-overlay");
            const demoVideo = document.getElementById("demo-video");
            upgradeScreenshot.addEventListener("click", () => {
                demoVideo.src = "https://www.youtube.com/embed/9eSCSCnnN9s";
                demoVideoOverlay.style.opacity = 1;
                demoVideoOverlay.style.pointerEvents = "auto";

                // Scroll to the top of the page
                window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                });
            });
            demoVideoOverlay.addEventListener("click", () => {
                demoVideo.src = "";
                demoVideoOverlay.style.opacity = 0;
                demoVideoOverlay.style.pointerEvents = "none";

                // Scroll to the bottom of the page
                window.scrollTo({
                    top: document.body.scrollHeight / 2,
                    behavior: "smooth"
                });
            });

            const handleCredentialResponse = async (response) => {
                try {
                    const data = await FetchWrapper.post("/api/v1/login", {
                        credential: response.credential
                    });
                    await LogHandler.info(data.message);

                    // Clear data and save metrics
                    await dataResetter.clearUpgradeData();
                    await dataResetter.clearDemoAppData();
                    await dataResetter.saveMetrics();
                    window.location.href = "/upgrade-demo/home";
                } catch (error) {
                    modal.confirm("upgrade", `Error: ${error.status}`, error.message, ["OK"]);
                }
            }

            google.accounts.id.initialize({
                client_id: "<%= googleClientId %>",
                callback: handleCredentialResponse
            });
            google.accounts.id.renderButton(
                document.getElementById("login-button"), {
                    theme: "filled_blue",
                    width: 300
                }
            );
            // also display the one tap dialog
            // google.accounts.id.prompt();

            // Scroll to the bottom of the page
            window.scrollTo({
                top: document.body.scrollHeight / 2,
                behavior: "smooth"
            });
        });
    </script>
</body>

</html>