/* ==================== wrapper ==================== */

#wrapper {
    width: 100%;
    min-width: 1024px;
    height: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #F0F2F8;
}

/* ==================== header ==================== */

#header {
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}

#title {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#upgrade-logo {
    width: 28px;
    height: 27px;
}

#title-text {
    margin-left: 10px;
    font-size: 28px;
    font-weight: 800;
    color: #3F68F6;
}

#logout-button {
    margin-right: 30px;
    width: 148px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: #2074EC;
    cursor: pointer;
    -webkit-transition: background 0.25s ease-in-out;
    -moz-transition: background 0.25s ease-in-out;
    transition: background 0.25s ease-in-out;
}

#logout-button:hover {
    background: #5B94EE;
}

#logout-button:active {
    background: #70A4F4;
}

#logo-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #2074EC;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #FFFFFF;
    -webkit-transition: border 0.25s ease-in-out;
    -moz-transition: border 0.25s ease-in-out;
    transition: border 0.25s ease-in-out;
}

#logout-button:hover #logo-wrapper {
    border: 2px solid #5B94EE;
}

#logout-button:active #logo-wrapper {
    border: 2px solid #70A4F4;
}

#google-logo {
    margin-left: 1px;
    width: 19px;
    height: 19px;
}

#text-wrapper {
    width: calc(148px - 48px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-text {
    font-size: 14px;
    font-weight: 600;
    color: rgb(232, 234, 237);
}

#logout-button:hover #button-text, #logout-button:active #button-text {
    color: #FFFFFF;
}

/* ==================== main ==================== */

#main {
    margin-top: 6px;
    width: 100%;
    height: calc(100% - 88px - 6px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#sidebar {
    width: calc(338px + 6px * 2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-transition: margin 0.25s ease-in-out;
    -moz-transition: margin 0.25s ease-in-out;
    transition: margin 0.25s ease-in-out;
}

.tour-bar {
    width: 338px;
    background: #FFFFFF;
    border-radius: 5px;
    border-top: solid 1px #B7B9BC;
}

.tour-bar:hover {
    background: #F8F8F8;
}

.tour-wrapper {
    width: 100%;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#tours-bar.loading .tour-wrapper, #tours-container.loading .tour-wrapper {
    cursor: wait;
}

.tour-text {
    margin-left: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #444444;
}

.tour-icon {
    margin-right: 16px;
    width: 20px;
    height: 20px;
}

.tour-bar.selected .tour-icon {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#tours-bar {
    border: none;
}

#tours-bar .tour-wrapper {
    height: 60px;
}

#tours-title {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tours-icon {
    margin-left: 24px;
    width: 25px;
    height: 25px;
}

#close-icon {
    width: 25px;
    height: 25px;
}

.steps-container {
    display: none;
    cursor: not-allowed;
}

.tour-bar.selected .steps-container {
    display: block;
}

.step-bar {
    width: 338px;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #444444;
    border-radius: 5px;
}

.step-quiz-app.selected {
    background: #F0FFFA;
    border: 1px solid#1CC198;
    color: #1CC198;
}

.step-admin-tool.selected {
    background: #FFFAF5;
    border: 1px solid#FF9129;
    color: #FF9129;
}

.step-upgrade.selected {
    background: #F0F5FF;
    border: 1px solid#3F68F6;
    color: #3F68F6;
}

.step-dev-console.selected {
    background: #FFF5F0;
    border: 1px solid#F6683F;
    color: #F6683F;
}

.step-text {
    margin-left: 36px;
    font-size: 14px;
    font-weight: 600;
}

#app {
    width: calc(100% - 338px - 6px * 3);
    height: calc(100% - 6px);
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

#tabs {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #B7B9BC;
}

.tab {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tab.loading {
    cursor: wait;
}

.tab-top {
    width: 100%;
    height: calc(100% - 3px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab-icon {
    width: 23px;
    height: 23px;
    -webkit-transition: filter 0.15s ease-in-out;
    -moz-transition: filter 0.15s ease-in-out;
    transition: filter 0.15s ease-in-out;
}

.tab-text {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #444444;
    -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}

.tab-bottom {
    margin-left: 4px;
    width: 135px;
    height: 3px;
    background: transparent;
    opacity: 0.85;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#tours-tab {
    display: none;
}

#upgrade-icon {
    margin-right: -4px;
    margin-top: 4px;
    width: 26px;
    height: 29px;
}

#dev-console-icon {
    margin-right: -2px;
    width: 23px;
    height: 24px;
}

#iframe-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: auto;
}

#iframe-wrapper.loading {
    cursor: wait;
}

.app-iframe {
    width: 100%;
    height: 100%;
    display: none;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 5px;
}

#iframe-loading-animation {
    animation: loading 1s linear infinite;
    border: solid 5px transparent;
    border-top: solid 5px #1CC198;
    border-bottom: solid 5px #1CC198;
    border-radius: 60px;
    width: 120px;
    height: 120px;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
    pointer-events: none;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}